@import url('https://fonts.googleapis.com/css2?family=Lora&family=Ribeye&family=Roboto+Serif&family=Roboto:wght@400;500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --background-color:#EEF9E7;
    --started-background-color:#88B23A;
}

body{
    height: 100vh;
    background-color:var(--background-color) ;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.container{
    width: 80%;
    height: 100vmin;
    position: relative;
    background-image: url('./Assets/Background-img.png');
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid black;
}
@keyframes slideIn {
   0%{
      top: 200%;
   }
   100%{
      top: 50%;
   }
  }

.game-loader{
    width: 900px;
    height: 350px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--started-background-color);
    animation-name: slideIn;
    animation-duration: 1s ;
    animation-delay:0;
    overflow: hidden;

}
.title{
  display: flex;
  justify-content: space-between;
  font-family: 'Ribeye';
  font-size: 6rem;
  color:#F51F1F;
  text-shadow: 2px 2px #5A5A5A;
}
.title-img{
  height: 194px;
  width: 176px;
}
.btn-start{
  width: 156px;
  height: 125px;
  margin: 0 auto;
  box-shadow: 5px 5px #5CA12E;
  border: none;
  border-radius: 10px;
  transition: all ease 0.3s;
}
.btn-start a{
  font-family: 'Lora';
  font-size: 3rem;
  color: #909C09;
  text-decoration: none;
}
.btn-start:hover{
  background-color: #cbebb7;
  color: #3f880e;
}

@media(max-width:1280px){
  .game-loader{
    width: 700px;
    height: 320px;
    
  }
  .title{
    font-size: 68px;
  }
  .title-img{
    width: 174px;
    height: 156px;
    
  }
  .btn-start{
    width: 136px;
    height: 105px;
  }
}

@media(max-width:960px){
  
  .game-loader{
    width: 590px;
    height: 300px;
  }
  .title{
    font-size: 56px;
  }
  .title-img{
    width: 154px;
    height: 136px;
  }
  .btn-start{
    width: 116px;
    height: 85px;
  }
}
@media(max-width:768px){
  .game-loader{
    width: 450px;
    height: 280px;
  }
  .title{
    font-size: 38px;
  }
  .title-img{
    width: 134px;
    height: 116px;
  }
  .btn-start{
    width: 100px;
    height: 75px;
  }
}
@media(max-width:560px){
  .game-loader{
    width: 320px;
    height: 200px;
  }
  .title{
    font-size: 24px;
  }
  .title-img{
    width: 110px;
    height: 85px;
  }
  .btn-start{
    width: 60px;
    height: 45px;
  }
  .btn-start a{
    font-size: 1rem;
  }
}
@media(max-width:420px){
  .game-loader{
    width: 250px;
    height: 150px;
  }
  .title{
    font-size: 18px;
  }
  .title-img{
    width: 85px;
    height: 55px;
  }
  .btn-start{
    width: 40px;
    height: 25px;
  }
  .btn-start a{
    font-size: 12px;
  }
  .container{
    height: 80vh;
  }
}
@media(max-width:300px){
  .game-loader{
    width: 200px;
    height: 120px;
    bottom: 100px;
    left: 5%;
  }
  .title{
    font-size: 16px;
  }
  .title-text{
    border: none;
    box-shadow: none;
    
  }
  .title-img{
    width: 75px;
    height: 45px;
  }
  .btn-start{
    width: 30px;
    height: 16px;
  }
  .btn-start a{
    font-size: 8px;
  }
  .container{
    height:50vh;
  }
}